@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-600;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white;
  }

  a {
    @apply text-blue-600;
    @apply underline;
  }
}
